VITE_SUPABASE_URL=https://hhfclfwawligeutnxpqm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhoZmNsZndhd2xpZ2V1dG54cHFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MzY5MjUsImV4cCI6MjEwMjIxMjkyNX0.SvWyNwkmZgSIB9IdiP_s3DiRQafSsK4YpMoMFSYEYRo
VITE_SITE_URL=https://yourstore.example.com
